body {
	margin: 0;
	font-family: 'EuclidCircularB-Regular';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EuclidCircularB-Regular';
	src: url('/fonts/EuclidCircularB-Regular.eot');
	src: url('/fonts/EuclidCircularB-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/EuclidCircularB-Regular.woff2') format('woff2'),
		url('/fonts/EuclidCircularB-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Archia-medium';
	src: url('/fonts/archia-medium-webfont.eot');
	src: url('/fonts/archia-medium-webtfont.eot?#iefix') format('embedded-opentype'),
		url('/fonts/archia-medium-webfont.woff2') format('woff2'),
		url('/fonts/archia-medium-webfont.ttf') format('truetype');
}
